<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe_list_element.imagePath"
      alt="recipe-selected-img"
      class="img-responsive"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe_list_element.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer;" (click)="addToShoppingList()"
            >To Shopping List</a
          >
        </li>
        <li style="cursor: pointer;" (click)="addToEdit()">Edit Recipe</li>
        <li style="cursor: pointer;">Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ recipe_list_element.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
    <table>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let item of recipe_list_element.ingredients">
        <td>{{ item.name }}</td>
        <td>{{ item.amount }}</td>
      </tr>
    </table>
  </div>
</div>
